<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HR applications</title>
</head>
<body>

    <h1>List of employees:</h1>

    <table>
        <thead>
        <tr>
            <th>Id
            <th>Name
            <th>Post
            <th>Salary
            <th>Entry date
        <tbody>
        <tr th:each="employee : ${employees}">
            <td th:text="${employee.id}">Id</td>
            <td><a th:href="@{/employees/{id}(id = ${employee.id})}" th:text="${employee.name}">Name</a></td>
            <td th:text="${employee.post}">Title</td>
            <td th:text="${employee.salary}">Salary</td>
            <td th:text="${employee.entry}">EntryDate</td>
            <td><a th:href="@{/deleteEmployee/{id}(id=${employee.id})}">Delete</a></td>
        </tr>

    </table>
    <br><br>

    <form th:action="@{/employees}" method="post" th:object="${newEmployee}">
        Id: <input th:field="*{id}" /><br>
        Name: <input th:field="*{name}" /><br>
        Title: <input th:field="*{post}" /><br>
        Salary: <input th:field="*{salary}" /><br>
        Entry date: <input th:field="*{entry}" /><br>
        <input type="submit" value="Add" />
    </form>

</body>
</html>